.flex-container {
  display: flex;
  width: 600px;
  border: 2px solid #333;
  padding: 10px;
}

.flex-item {
  padding: 20px;
  background-color: lightgray;
  margin: 5px;
}

.item-grow {
  flex-grow: 2; /* 다른 아이템보다 2배 더 많은 공간을 차지 */
  background-color: lightseagreen;
}
