@import "tailwindcss";

.box {
    border: 1px solid black;
    padding: 20px;
}

hr {
    margin: 20px 0;
}

.card{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

.done {
  text-decoration: line-through;
  color: gray;
}