@import "tailwindcss";

.box {
    border: 1px solid black;
    padding: 20px;
}

hr {
    margin: 20px 0;
}

.card{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.button{
    padding: 4px 8px;
    border: 1px solid black;
    margin: 4px;
    border-radius: 10px;
}

.input{
    border: 1px solid black;
}

/* src/layouts/Layout.css */
nav {
  display: flex;
  gap: 16px;
}

nav a {
  text-decoration: none;
  color: gray;
}

nav a.active {
  color: black;
  font-weight: bold;
}